; BIND reverse data file for local loopback interface
;
$TTL	3600
@	IN	SOA	_DOMAIN_NAME_. root._DOMAIN_NAME_. (
			      1 	; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 86400 )	; Negative Cache TTL
;
@	IN	NS	ns1._DOMAIN_NAME_.
@	IN	NS	ns?._DOMAIN_NAME_.
@	IN	A	_IP_SERVER_
ns1	IN	A	_IP_SERVER_
ns?	IN	A	_SLAVE_

;Hostname entries
_SUB_NAME_	IN	A	_SUB_IP_
